body {
	margin: 0;
	}

* {
	box-sizing: border-box;
	}

div.container {
	border: .5px solid red;
	position: relative;
	height: 100vh;
	width: 100vw;
	}

div.container div.menu {
	border: 1px solid orange;
	display: inline-flex;
	width: 100vw;
	height: 70px;
	top: 0;
	}

div.menu div {
	height: inherit;
	width: 25vw;
	border: 1px solid green;
	text-align: center;
	height: inherit;
	}

div.menu div#name {
	width: 50vw;
	}

div.menu div p {
	border: .5px solid blue;
	height: 20px;
	margin-top: 25px;
	}

div.container div.solution {
	position: relative;
	border: .5px solid green;
	height: 50px;
	width: 70vw;
	left: 15vw;
	top: 150px;
	}

div.solution div.entry {
	width: 55vw;
	height: inherit;
	}

div.solution div.entry input {
	height: inherit;
	width: inherit;
	font-size: 35px;
	border: .5px solid blue;
	-webkit-appearance: none;
	padding: 0 5px;
	}

div.solution div.entry input:focus {
	outline: none;
	background-color: pink;
	}