body {
	margin: 0;
	background-color: lightgrey;
	}

* {
	box-sizing: border-box;
	}
	
a, p, span {
	font-family: 'Raleway', sans-serif;
	font-weight: lighter;
	color: white;
	}

h1, h2, h3, h4, h5 {
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
	color: white;
	}

div.menu {
	position: fixed;
	border: 1px none orange;
	display: inline-flex;
	width: 100vw;
	height: 70px;
	top: 0;
	background-color: #343537;
	z-index: 2;
	}

div.menu div {
	height: inherit;
	width: 25vw;
	border: 1px none green;
	text-align: center;
	}

div.menu div#name {
	width: 50vw;
	}

div.menu div p {
	border: .5px none blue;
	height: 20px;
	margin-top: 25px;
	}	

div.menu div img {
	cursor: pointer;
	height: 40px;
	width: auto;
	top: 17.5px;
	position: relative;
	}

div.background {
	border: .5px none white;
	background: center/cover no-repeat;
	height: 100vh;
	width: 100vw;
	}

div.background.list {
	position: relative;
	height: 10vh;
	top: 30vh;
	}

div.container {
	padding-top: 70px;
	border: .5px none red;
	position: absolute;
	top: 0;
	height: inherit;
	width: inherit;
	
	-webkit-backdrop-filter: blur(10px);
	-moz-backdrop-filter: blur(10px);
	-o-backdrop-filter: blur(10px);
	-ms-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);  
	
	}

div.container.hidden {
	visibility: hidden;
	}

div.container div.riddle {
	position: relative;
	width: 80vw;
	left: 10vw;
	border: .5px none brown;
	margin-top: 10vh;
	text-align: center;
	background-color: #40474F;
	border-radius: 5px;
	padding: 2px;
	}

div.container div.solution {
	position: relative;
	border: .5px none green;
	height: 50px;
	width: 70vw;
	left: 15vw;
	top: 50px;
	border-radius: 5px;
	background-color: rgba(255,255,255,0.8);
	}

div.solution div.entry {
	width: 55vw;
	height: inherit;
	border-radius: 5px;
	/* rbackground-color: rgba(255,255,255,0.8); */
	}

div.solution div.entry input {
	position: absolute;
	left: 2vw;
	top: 5px;
	height: 40px;
	width: 52vw;
	font-size: 20px;
	border: .5px none blue;
	-webkit-appearance: none;
	padding: 0 5px;
	background-color: transparent;
	}

div.solution div.entry input:focus {
	outline: none;
	/* background-color: pink; */
	}

div.solution div.hint {
	position: absolute;
	width: 12vw;
	right: 2vw;
	height: 40px;
	top: 5px;
	border: .5px none orange;
	background-color: #343537; 
	border-radius: 3px;
	}	

div.solution div.hint svg {
	position: absolute;
	border: .5px none red;
	width: inherit;
	left: 0;
	height: inherit;
	cursor: pointer;
	fill: lightgrey;
	z-index: 2;
	}

div.solution div.submit {
	display: none;
	position: absolute;
	width: 12vw;
	right: 2vw;
	height: 40px;
	top: 5px;
	border: .5px none orange;
	/* background-color: #343537; */
	border-radius: 3px;
	}	

div.solution div.submit svg {
	position: absolute;
	border: .5px none red;
	width: inherit;
	left: 0;
	height: inherit;
	cursor: pointer;
	fill: #D55140;
	color: white;
	z-index: 2;
	}	

div.word-container {
	position: fixed;
	bottom: -50vh;
	border: 1.5px none lightblue;
	height: 45vh;
	width: 100vw;
	background-color: #40474F;
	z-index: 3;
	border-radius: 20px 20px 0 0;
	-webkit-box-shadow: 0px -10px 10px 5px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px -10px 10px 5px rgba(0,0,0,0.25);
	box-shadow: 0px -10px 10px 5px rgba(0,0,0,0.25);
	transition: bottom .4s;
	}

div.word-container.visible {
	display: unset;	
	bottom: 0;
	transition: bottom .4s;
	}

div.word-container div.final-word {
	border: 1px none green;
	position: absolute;
	bottom: 60px;
	width: 80vw;
	left: 10vw;
	height: 50px;
	display: inline-flex;
	}

div.final-word div.letter {
	height: inherit;
	width: 11vw;
	border: 1px none purple;
	background-color: white;
	border-radius: 5px;
	margin-right: 5px;
	}

div.background.list div.list-view {
	width: inherit;
	height: inherit;
	position: relative;
	text-align: center;
	padding: 2px;
	cursor: pointer;
	
	-webkit-backdrop-filter: blur(5px);
	-moz-backdrop-filter: blur(5px);
	-o-backdrop-filter: blur(5px);
	-ms-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px); 
	}


div.background div.list-view.hidden {
	display: none;
	}


div.background.list div.list-view p {
	position: relative;
	border: .5px none white;
	margin-top: 3vh;
	}

@media only screen and (min-width: 740px){

	}